---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Terminos y condiciones">

    <div class="max-w-3xl mx-auto px-4 py-16">
        <h1 class="text-4xl font-bold text-center mb-8 text-pink-600"><strong>Términos y Condiciones de Lumina Nails Academy</strong></h1>
        
        
        <div class="bg-white shadow-lg rounded-xl p-8 border border-gray-100">
           <p>
        
            </p>
            <ol>
                <li>
                    <strong>Inscripción y Pagos:</strong> El acceso al curso se otorga una vez confirmado el pago a través de nuestra plataforma segura.
                </li>
                <li>
                    <strong>Propiedad Intelectual:</strong> Todo el material (videos, manuales) es propiedad exclusiva de Lumina Nails Academy. Queda prohibida su distribución o reventa.
                </li>
                <li>
                    <strong>Política de Reembolso:</strong> Debido a la naturaleza digital del contenido, no se ofrecen reembolsos una vez que se ha accedido al material del curso.
                </li>
                <li>
                    <strong>Certificación:</strong> La entrega del certificado está sujeta a la aprobación de las prácticas enviadas por el alumno.
                </li>
                <li>
                    <strong>Comportamiento:</strong> Nos reservamos el derecho de admisión ante conductas irrespetuosas.
                </li>
            </ol>
        </div>
    </div>
    

</Layout>